<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body style="background-color: black; color: azure; background-image: url(https://th.bing.com/th/id/R.52313b752393e3416488437a79cd9589?rik=YzjnkuVQ%2bK%2bb1A&riu=http%3a%2f%2fclipart-library.com%2fimages_k%2fconfetti-clipart-transparent%2fconfetti-clipart-transparent-17.png&ehk=AbjkM7hY8P%2fvHjqKm65Z0kXhJMNyunaSemYgTqvGhOI%3d&risl=&pid=ImgRaw&r=0); background-size: cover; background-repeat: no-repeat;">
    <h1 style="text-align: center;">Welcome to the Home Page</h1>
    <h1 style="text-align: center;">You have successfully logged in</h1>
</body>
</html>