<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
    <div class="form_conatiner">
        <h2>Login Now</h2>
        <img src="https://cdn-icons-png.flaticon.com/512/6717/6717291.png" alt="Login Logo" height="100px" width="100px">
        <form action="/login" method="post">
            <div class="form-group">
                <label for="name">Username:</label>
                <input type="text" id="name" name="username" placeholder="Enter your Username" required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your Password">
            </div>
            <button type="submit" class="submit-btn">Login</button>
        </form>
        <p>Don't have an account? <a href="/signup">SignUp</a></p>
    </div>
</div>
    
</body>
</html>